@model DtDc_Billing.CustomModel.dashboardDataModel
 
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<div class="content-wrapper">
    <section class="content">

        <!--<div class="col-sm-3 " style="float: right" ;>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-danger total-label">Complaint Count</button>
                </div>-->
        <!-- /btn-group -->
        <!--<input type="text" class="form-control total-amount" value="@Model.complaintCount">
            </div>
        </div>-->
        @*@{

            Html.RenderPartial("NotificationPartial");
        }*@

        <div class="row">
            <div class="col-md-12">

                <div class="box-body">


                    <div class="">
                        <h1 style=" margin: 14px; font-weight: 600; color: #000000; font-size: 20px;">Dashboard</h1>

                        @if (ViewBag.before30days <= ViewBag.NowDate && ViewBag.After1Year >= ViewBag.NowDate) //|| ViewBag.NowDate <= ViewBag.After1Year)
                        {
                            <div class="text-center">

                                @{

                                    Html.RenderPartial("CompanyExpiryDatePartial");

                                }

                                @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
                                @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
                            </div>
                        }

                        <!-- Small boxes (Stat box) -->
                        <div class="row note1">
                            <div class="col-lg-12 col-xs-12 note2 new">
                                <div class="text-center notetxt">
                                    <div class="notstyl">
                                        <p><strong style="color: #0049af; font-size: 20px;">Cash Collection  </strong> </p>
                                    </div>
                                </div>

                                <div class="col-12 col-xs-12 col-md-4 col-lg-2 col-xl-4 " style="padding-left: 0;">
                                    <!-- small box -->
                                  
                                        <div class="small-box bg-aqua ">
                                            <div class="row">
                                                <div class="col-8 col-xs-8 col-md-8 col-lg-8">
                                                    <div class="inner">

                                                        <span id="Todayamt" class="info-box-number">   <small>Loading...</small></span>

                                                        <p class="collectionpara text-truncate">Today Cash Collection</p>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-xs-4 col-md-4 col-lg-4 " >
                                                    <div class="icon">
                                                        <i class="fa fa-inr"></i>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-xs-12 col-md-12   col-lg-12">
                                                    <div class="arrow1">
                                                        @*<a href="@Url.Action("PfReportDaily","Reports")" class="small-box-footer"> <i class="fa-solid fa-angle-down"></i></a>*@
                                                        @if (ViewBag.Date != null)
                                                        {
                                                            <a href="@Url.Action("AdminDailyReport", "Reports", new { pfcode = ViewBag.PfCode, searcheddate = ViewBag.Date })" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.Action("AdminDailyReport", "Reports", new { pfcode = ViewBag.PfCode, searcheddate = DateTime.Now.ToString("dd/MM/yyyy") })"><i class="fa fa-arrow-circle-right"></i></a>
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                           
                                            
                                            

                                       
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-12 col-xs-12 col-md-4 col-lg-2 col-xl-4 " style="padding-left: 0;">

                                    <div class="small-box " style="background-color: #ffffff !important; color: white; border: 3px solid #eff5ff; width: 90%; border-radius: 10px; padding: 13px; ">
                                        <div class="row" >
                                            <div class="col-8 col-xs-8 col-md-8 col-lg-8">
                                                <div class="inner">

                                                    <span id="Lastamt" class="info-box-number"> <small>Loading...</small></span>

                                                    <p class="collectionpara">Month Cash Collection</p>
                                                </div>
                                            </div>
                                            <div class="col-4 col-xs-4 col-md-4 col-lg-4">
                                                <div class="icon">
                                                    <i class="fa fa-inr"></i>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xs-12 col-md-12   col-lg-12">
                                                <div class="arrow1">
                                                    @*<a href="@Url.Action("PfReportDaily","Reports",new { Fromdatetime = ViewBag.firstDayOfMonth,ToDatetime=ViewBag.currentday })" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>*@
                                                    @if (ViewBag.Date != null)
                                                    {
                                                        <a href="@Url.Action("AdminDailyReport", "Reports", new { pfcode = ViewBag.PfCode, searcheddate = ViewBag.Date })" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("AdminDailyReport", "Reports", new { pfcode = ViewBag.PfCode, searcheddate = DateTime.Now.ToString("dd/MM/yyyy") })"><i class="fa fa-arrow-circle-right"></i></a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        

                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-12 col-xs-12 col-md-4 col-lg-2 col-xl-4 " style="padding-left: 0;">
                                    <!-- small box -->
                                    <div class="small-box bg-yellow ">
                                        <div class="row" >
                                            <div class="col-8 col-xs-8 col-md-8 col-lg-8">
                                                <div class="inner">

                                                    <span id="todaybooking" class="info-box-number"> <small>Loading...</small></span>

                                                    <p class="collectionpara">Today No. of Booking</p>
                                                </div>
                                            </div>
                                            <div class="col-4 col-xs-4 col-md-4 col-lg-4">
                                                <div class="icon">
                                                    <i class="fa fa-list"></i>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xs-12 col-md-12   col-lg-12">
                                                <div class="arrow1">
                                                    @*<a href="@Url.Action("PfReportDaily","Reports")" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>*@
                                                    @if (ViewBag.Date != null)
                                                    {
                                                        <a href="@Url.Action("AdminDailyReport", "Reports", new { pfcode = ViewBag.PfCode, searcheddate = ViewBag.Date })" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("AdminDailyReport", "Reports", new { pfcode = ViewBag.PfCode, searcheddate = DateTime.Now.ToString("dd/MM/yyyy") })"><i class="fa fa-arrow-circle-right"></i></a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        

                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-12 col-xs-12 col-md-4 col-lg-2 col-xl-4 " style="padding-left: 0;">
                                    <!-- small box -->
                                    <div class="small-box bg-red ">
                                        <div class="row">
                                            <div class="col-8 col-xs-8 col-md-8 col-lg-8">
                                                <div class="inner">

                                                    <span id="lastbooking" class="info-box-number"> <small>Loading...</small></span>

                                                    <p class="collectionpara">
                                                        Month No. of Bookings
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4 col-xs-4 col-md-4 col-lg-4">
                                                <div class="icon">
                                                    <i class="fa fa-list-alt"></i>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xs-12 col-md-12   col-lg-12">
                                                <div class="arrow1">
                                                    @*<a href="@Url.Action("PfReportDaily","Reports",new { Fromdatetime = ViewBag.firstDayOfMonth,ToDatetime=ViewBag.currentday })" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>*@
                                                    @if (ViewBag.Date != null)
                                                    {
                                                        <a href="@Url.Action("AdminDailyReport", "Reports", new { pfcode = ViewBag.PfCode, searcheddate = ViewBag.Date })" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("AdminDailyReport", "Reports", new { pfcode = ViewBag.PfCode, searcheddate = DateTime.Now.ToString("dd/MM/yyyy") })"><i class="fa fa-arrow-circle-right"></i></a>
                                                    }

                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <!-- ./col -->






                                <div class="col-12 col-xs-12 col-md-4 col-lg-2 col-xl-4 " style="padding-left: 0;">
                                    <!-- small box -->
                                    <div class="small-box bg-yellow ">
                                        <div class="row">
                                            <div class="col-8 col-xs-8 col-md-8 col-lg-8">
                                                <div class="inner">

                                                    <span id="lastbooking" class="info-box-number"> @Model.todayExp</span>

                                                    <p class="collectionpara">
                                                        Todays Expense
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4 col-xs-4 col-md-4 col-lg-4">
                                                <div class="icon">
                                                    <i class="fa fa-list-alt"></i>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xs-12 col-md-12   col-lg-12">
                                                <div class="arrow1">
                                                    <a href="@Url.Action("ExpensesList","Admin",new { Fromdatetime = ViewBag.currentday,ToDatetime=ViewBag.currentday })" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                       
                                    </div>
                                </div>



                                <div class="col-12 col-xs-12 col-md-4 col-lg-2 col-xl-4 " style="padding: 0;">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua " style="width: 96%;" >
                                        <div class="row">
                                            <div class="col-8 col-xs-8 col-md-8 col-lg-8">
                                                <div class="inner">

                                                    <span id="lastbooking" class="info-box-number"> @Model.monthexp</span>

                                                    <p class="collectionpara">
                                                        This Month Expense
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4 col-xs-4 col-md-4 col-lg-4">
                                                <div class="icon">
                                                    <i class="fa fa-list-alt"></i>
                                                </div>
                                            </div>
                                            <div class="col-12 col-xs-12 col-md-12   col-lg-12">
                                                <div class="arrow1">
                                                    <a href="@Url.Action("ExpensesList","Admin",new { Fromdatetime = ViewBag.firstDayOfMonth,ToDatetime=ViewBag.currentday })" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->


                        @if (ViewBag.stationary != 0)
                        {


                            <div class="col-md-4">
                                <div class="info-box bg-yellow">
                                    <span class="info-box-icon"><i class="fa fa-exclamation-circle"></i></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">Stationaries are going to Expire</span>
                                        <span class="info-box-number"> <strong>@ViewBag.expiredStationaryCount</strong></span>

                                        <div class="progress">
                                            <div class="progress-bar" style="width: 50%"></div>

                                        </div>
                                        <span class="progress-description">
                                            <a class="text-black" href="@Url.Action("ExpiredStationary","Stationery")">View details</a>
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                            </div>

                        }

                    <div class="row note1">
                        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6" style="" >
                            <div class="row"  style="min-height: 43vh; background: white; border-radius: 17px; padding: 13px; width: 99%; ">
                                <div class="text-center notetxt">
                                    <div class="notstyl">
                                        <p><strong style="color: #0049af; font-size: 20px;">Billing Reports</strong> </p>
                                    </div>
                                </div>



                                <div class="col-12 col-xs-12 col-sm-6  col-md-4 col-lg-4 ">
                                    <a href="@Url.Action("Todaysale","Reports")">
                                        <div class="info-box billing-cards ">


                                            <div class="info-box-content">
                                                <span class="info-box-text">Todays Sale</span>
                                                <span class="info-box-number">
                                                    <strong>@Model.sumOfBilling</strong>
                                                </span>
                                                




                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>

                                </div>



                                <div class="col-12 col-xs-12 col-sm-6  col-md-4 col-lg-4">
                                    <a href="@Url.Action("Todaysale","Reports",new { Fromdatetime = ViewBag.firstDayOfMonth,ToDatetime=ViewBag.currentday })">
                                        <div class="info-box billing-cards">


                                            <div class="info-box-content">
                                                <span class="info-box-text">This Month Sale</span>
                                                <span class="info-box-number"> <strong id="sumofbillingcurrentmonth">@Model.sumOfBillingCurrentMonth</strong></span>
                                                



                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>

                                </div>


                                <div class="col-12 col-xs-12 col-sm-6  col-md-4 col-lg-4">
                                    <div class="info-box billing-cards">


                                        <div class="info-box-content">
                                            <span class="info-box-text">Avg Sale per month</span>
                                            <span class="info-box-number"> <strong>@Model.avgOfBillingSum.ToString("##")</strong></span>
                                            

                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>


                                <div class="col-12 col-xs-12 col-sm-6  col-md-4 col-lg-4">
                                    <div class="info-box billing-cards  ">


                                        <div class="info-box-content">
                                            <span class="info-box-text">Todays No of Bookings</span>
                                            <span class="info-box-number"> <strong>@Model.countOfBilling</strong></span>
                                            



                                        </div>
                                        <!-- /.info-box-content -->
                                    </div></a>

                                </div>



                                <div class="col-12 col-xs-12 col-sm-6  col-md-4 col-lg-4">
                                    <a href="@Url.Action("Todaysale","Reports",new { Fromdatetime = ViewBag.firstDayOfMonth,ToDatetime=ViewBag.currentday })">
                                        <div class="info-box  billing-cards">
                                            <div class="info-box-content">
                                                <span class="info-box-text">This Month No. of Bookings</span>
                                                <span class="info-box-number"> <strong id="countofbillingcurrentmonth">@Model.countofbillingcurrentmonth</strong></span>
                                                



                                            </div>


                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>

                                </div>


                                <div class="col-12 col-xs-12 col-sm-6  col-md-4 col-lg-4">
                                    <div class="info-box  billing-cards ">


                                        <div class="info-box-content">
                                            <span class="info-box-text">Avg No. of Bookings</span>
                                            <span class="info-box-number"> <strong>@ViewBag.avgofbillingcount</strong></span>

                                            

                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </div>

                                <div class="col-12 col-xs-12 col-sm-6  col-md-4 col-lg-4">
                                    <a href="@Url.Action("Cashtotalsale","Reports",new { Fromdatetime = ViewBag.firstDayOfMonth,ToDatetime=ViewBag.currentday })">
                                        <div class="info-box billing-cards ">



                                            <div class="info-box-content">
                                                <span class="info-box-text">Total Sale</span>
                                                <span class="info-box-number"> <strong id="totalsale">Loading...</strong></span>

                                                

                                            </div>

                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>
                                   
                                </div>


                                <div class="col-12 col-xs-12 col-sm-6  col-md-4 col-lg-4">
                                    <a href="@Url.Action("Cashtotalsale","Reports",new { Fromdatetime = ViewBag.firstDayOfMonth,ToDatetime=ViewBag.currentday })"><div class="info-box billing-cards">


                                                                                                                                                                      <div class="info-box-content">
                                                                                                                                                                          <span class="info-box-text">Total No of Bookings</span>
                                                                                                                                                                          <span class="info-box-number"> <strong id="totalnoofbook">Loading...</strong></span>

                                                                                                                                                                          

                                                                                                                                                                      </div>

    <!-- /.info-box-content -->
</div></a>
                                    
                                </div>



                            </div>
                                
                              
                           

                        </div>
                        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 " style="padding-right: 0;" >
                            <div class="row note2" style="min-height: 43vh; background: white; border-radius: 17px; padding: 13px; width: 100%; padding-left: 0 ">
                                <div class="text-center notetxt">
                                    <div class="notstyl">
                                        <p><strong style="color: #bc3f30;">Note : </strong> <span style="font-size: 15px;">No. of Consignment showing in below reports will not appear in Invoice</span></p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <a class="text-black" href="@Url.Action("Nobookinglist", "Booking")">
                                        <div class="info-box ">
                                            <div class="row">
                                                <div class="col-sm-4">

                                                    <span class="info-box-icon"><i class="fa fa-envelope-open-o icon1"></i></span>
                                                </div>
                                                <div class="col-sm-8 " style="text-align:end">


                                                    <span class="info-box-number"> <p style="margin:0">@Model.openConCount</p></span>
                                                    <span class="info-box-text">Open Consginment</span>
                                                </div>




                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">

                                                    <div style="display: flex; justify-content: space-between; margin: 10px 0 0;">
                                                        <p style="margin: 0; color:#323a46">Target</p>
                                                        <p style="margin:0;color:#323a46 ">
                                                            50%
                                                        </p>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 50%"></div>
                                                    </div>

                                                </div>
                                            </div>

                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>

                                </div>



                                <div class="col-md-6">
                                    <a class="text-black" href="@Url.Action("Destinations", "BillingReports")">
                                        <div class="info-box ">
                                            <div class="row">

                                                <div class="col-sm-4">
                                                    <span class="info-box-icon"><i class="fa fa-map-marker icon2"></i></span>
                                                </div>
                                                <div class="col-sm-8" style="text-align:end">
                                                    <div class="">

                                                        <span class="info-box-number"> <p style="margin:0">@Model.unSignPincode</p></span>
                                                        <span class="info-box-text">New Pincodes Found</span>



                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div style="display: flex; justify-content: space-between; margin: 10px 0 0;">
                                                        <p style="margin: 0; color:#323a46">Target</p>
                                                        <p style="margin:0;color:#323a46 ">
                                                            50%
                                                        </p>
                                                    </div>
                                                    <div class="progress1">
                                                        <div class="progress-bar" style="width: 50%"></div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>

                                </div>


                                <div class="col-md-6">
                                    <a class="text-black" href="@Url.Action("InvalidConsignment", "BillingReports")">
                                        <div class="info-box ">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <span class="info-box-icon"><i class="fa fa-times-circle icon3"></i></span>
                                                </div>
                                                <div class="col-sm-8" style="text-align:end">
                                                    <div class="">

                                                        <span class="info-box-number"> <strong>@Model.invalidCon</strong></span>
                                                        <span class="info-box-text">Invalid Consginment Found</span>


                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div style="display: flex; justify-content: space-between; margin: 10px 0 0;">
                                                        <p style="margin: 0; color:#323a46">Target</p>
                                                        <p style="margin:0;color:#323a46 ">
                                                            50%
                                                        </p>
                                                    </div>
                                                    <div class="progress2">
                                                        <div class="progress-bar2" style="width: 50%"></div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>

                                </div>

                            </div>
                            
                        </div>

                        <div class="col-sm-6" style="padding-right: 0;padding-left:0 ">
                            @{Html.RenderAction("Jschart", "Home", new { pfcode = ViewBag.PfCode });}

                        </div>
                        <div class="col-sm-6" style="padding-left: 0; padding-right: 0 ">

                            @{Html.RenderAction("JschartforCashcounter", "Home", new { pfcode = ViewBag.PfCode });}
                        </div>

                    </div>


                      



                        


                        @*@{Html.RenderAction("steplinechart", "Home");}*@
                        @{Html.RenderAction("DestinationAndProductPartial", "Home");}



                    </div>




                </div>
                </div>
            </div>
    </section>
</div>

    @if (ViewBag.sendmail != null)
    {
        <script>
        alert('@ViewBag.sendmail');
        </script>
    }






    @if (ViewBag.RedirectSector == true)
    {
        <script type="text/javascript">
            $(document).ready(function () {

                $('#overlay').modal('show');

            });


        </script>
    }



    <script>
    $(document).ready(function () {

      

     $.ajax({
            type: 'GET',
            url: '@Url.Action("Datewise", "AtkApi")',
            data: { },
            dataType: 'json',
            success: function (data) {

                $("#Todayamt").html('<i class="fa fa-inr"></i> ' + data.Amount);
                $("#todaybooking").text(data.Count);
 },
            error: function (emp) {
                alert('error');
            }
        });

             $.ajax({
            type: 'GET',
            url: '@Url.Action("ThisMonth", "AtkApi")',
            data: { },
            dataType: 'json',
            success: function (data) {
                $("#Lastamt").text(data.Amount);
                $("#lastbooking").text(data.Count);
                var totalthismonthsale = parseInt($("#sumofbillingcurrentmonth").text());
                var thismonthnoofbooking = parseInt($("#countofbillingcurrentmonth").text());
                $("#totalsale").text(data.Amount + totalthismonthsale);
                $("#totalnoofbook").text(data.Count + thismonthnoofbooking);


 },
            error: function (emp) {
                alert('error');
            }
        });



    });

    </script>
