

@model DtDc_Billing.Entity_FR.Receipt_details

@using (Ajax.BeginForm("ConsignmentDetails", "Booking", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "frmEmp2" }, new { id = "FormName" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="" class="col-sm-3">Consignment No</label>
                        <div class="col-sm-6">
                            @Html.EditorFor(model => model.Consignment_No, new { htmlAttributes = new { @class = "form-control", @placeholder = "Consignment No" } })


                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="" class="col-sm-5">Destination</label>
                        <div class="col-sm-7">
                            @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control", @placeholder = "Destination" } })

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Main content -->
        <section id="consignment" class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sender Details</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="" class="col-sm-2">Ph No</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.sender_phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number" } })

                                    </div>
                                    <label for="" class="col-sm-2">Email</label>
                                    <div class="col-sm-4">

                                        @Html.EditorFor(model => model.Sender_Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-2">Sender</label>
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.Sender, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sender" } })

                                    </div>
                                    <label for="" class="col-sm-2">Company</label>
                                    <div class="col-sm-4">

                                        @Html.EditorFor(model => model.SenderCompany, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-2">Address</label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(model => model.SenderAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-1 padding-right-0">City</label>
                                    <div class="col-sm-3">

                                        @Html.EditorFor(model => model.SenderCity, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })

                                    </div>
                                    <label for="" class="col-sm-1 padding-right-0">State</label>
                                    <div class="col-sm-3">
                                        @Html.EditorFor(model => model.SenderState, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })

                                    </div>
                                    <label for="" class="col-sm-1 padding-right-0">Pincode</label>
                                    <div class="col-sm-3">

                                        @Html.EditorFor(model => model.SenderPincode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pincode", @id = "Pincode" } })

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box -->
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Recipient's Details</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="" class="col-sm-2">Ph No</label>
                                    <div class="col-sm-4">

                                        @Html.EditorFor(model => model.Reciepents_phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pincode", @id = "receipientphno" } })

                                    </div>
                                    <label for="" class="col-sm-2">Email</label>
                                    <div class="col-sm-4">

                                        @Html.EditorFor(model => model.Reciepents_Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pincode" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-2">Recipient</label>
                                    <div class="col-sm-4">

                                        @Html.EditorFor(model => model.Reciepents, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })

                                    </div>
                                    <label for="" class="col-sm-2">Company</label>
                                    <div class="col-sm-4">


                                        @Html.EditorFor(model => model.ReciepentCompany, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pincode" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2">Address</label>
                                    <div class="col-sm-10">


                                        @Html.TextAreaFor(model => model.ReciepentsAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-1 padding-right-0">City</label>
                                    <div class="col-sm-3">

                                        @Html.EditorFor(model => model.ReciepentsCity, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })

                                    </div>
                                    <label for="" class="col-sm-1 padding-right-0">State</label>
                                    <div class="col-sm-3">

                                        @Html.EditorFor(model => model.ReciepentsState, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })

                                    </div>
                                    <label for="" class="col-sm-1 padding-right-0">Pincode</label>
                                    <div class="col-sm-3">

                                        @Html.EditorFor(model => model.ReciepentsPincode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pincode" } })

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- /.box -->
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Shipment Type</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="form-horizontal">
                            <div class="box-body">
                                <!-- radio -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4">Type</label>
                                        <div class="radio col-md-4">
                                            <label>
                                                @*<input type="radio" name="Shipmenttype" id="dox" value="D" checked>*@
                                                @Html.RadioButtonFor(model => model.Shipmenttype, "D", new { @checked = true, @id = "dox" })
                                                Dox
                                            </label>
                                        </div>
                                        <div class="radio col-md-4">
                                            <label>
                                                @*<input type="radio" name="Shipmenttype" id="nondox" value="N">*@
                                                @Html.RadioButtonFor(model => model.Shipmenttype, "N", new { @id = "nondox" })
                                                Non Dox
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="radio col-sm-4">
                                            <label>
                                                @*<input type="radio" name="Shipment_Mode" id="air" value="Air" checked>*@
                                                @Html.RadioButtonFor(model => model.Shipment_Mode, "Air", new { @checked = true, @id = "air" })
                                                Air
                                            </label>
                                        </div>
                                        <div class="radio col-sm-4">
                                            <label>
                                                @*<input type="radio" name="Shipment_Mode" id="surface" value="Surface">*@
                                                @Html.RadioButtonFor(model => model.Shipment_Mode, "Surface", new { @id = "surface" })
                                                Surface
                                            </label>
                                        </div>
                                        <div class="radio col-sm-4">
                                            <label>
                                                @*<input type="radio" name="Shipment_Mode" id="international" value="International">*@
                                                @Html.RadioButtonFor(model => model.Shipment_Mode, "International", new { @id = "international" })
                                                International
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 padding-right-0">L*</label>
                                        <div class="col-sm-4">

                                            @Html.EditorFor(model => model.Shipment_Length, new { htmlAttributes = new { @class = "form-control", @placeholder = "Lenghth" } })

                                        </div>
                                        <label for="" class="col-sm-2 padding-right-0">CM*</label>
                                        <div class="col-sm-4">

                                            @Html.EditorFor(model => model.Shipment_Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Q" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 padding-right-0">CM*</label>
                                        <div class="col-sm-4">

                                            @Html.EditorFor(model => model.Shipment_Breadth, new { htmlAttributes = new { @class = "form-control", @placeholder = "Br" } })

                                        </div>
                                        <label for="" class="col-sm-2 padding-right-0">CM*</label>
                                        <div class="col-sm-4">

                                            @Html.EditorFor(model => model.Shipment_Heigth, new { htmlAttributes = new { @class = "form-control", @placeholder = "Height" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2 padding-right-0">PCS*</label>
                                        <div class="col-sm-4">
                                            @*<input type="text" class="form-control" id="" name="DivideBy" placeholder="">*@
                                            @Html.EditorFor(model => model.DivideBy, new { htmlAttributes = new { @class = "form-control", @placeholder = "Devide" } })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4">Total Numbers</label>
                                        <div class="col-sm-8">

                                            @Html.EditorFor(model => model.TotalNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4">Actual Weight</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.Actual_Weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Weight" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4">Volumetric Weight</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.volumetric_Weight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Vol" } })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box -->
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <div class="col-md-8">
                                <h3 class="box-title">Description of Content</h3>
                            </div>
                            <div class="col-md-4">
                                <h3 class="box-title">Value Of Goods</h3>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="form-horizontal">
                            <div class="box-body">
                                <!-- radio -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-8">

                                            @Html.EditorFor(model => model.DescriptionContent1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descreption" } })

                                        </div>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.Amount1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.DescriptionContent2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descreption" } })

                                        </div>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.Amount2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.DescriptionContent3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descreption" } })

                                        </div>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.Amount3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount" } })

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="" class="col-sm-12 control-label">Total Value of Goods</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.EditorFor(model => model.Total_Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total" } })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </div>

                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">
                    <!-- Horizontal Form -->
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Charges</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-block btn-warning">Edit Charges</button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="form-horizontal">
                            <div class="box-body">
                                <!-- radio -->
                                <div class="col-md-6">
                                    <div id="insurance">
                                        <div class="form-group">
                                            <label for="" class="col-sm-4">Insurance</label>
                                            <div class="radio col-md-4">
                                                <label>
                                                    @*<input type="radio" name="Insurance" id="noinsurance" value="no" checked>*@
                                                    @Html.RadioButtonFor(model => model.Insurance, "no", new { @checked = true, @id = "noinsurance" })
                                                    No
                                                </label>
                                            </div>
                                            <div class="radio col-md-4">
                                                <label>
                                                    @*<input type="radio" name="Insurance" id="yesinsurance" value="yes">*@
                                                    @Html.RadioButtonFor(model => model.Insurance, "yes", new { @id = "yesinsurance" })
                                                    Yes
                                                </label>
                                            </div>

                                        </div>
                                        <div id="insurancedetails" class="form-group">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-12">Percentage</label>
                                                    <div class="col-sm-12">

                                                        @Html.EditorFor(model => model.Insuance_Percentage, new { htmlAttributes = new { @class = "form-control", @placeholder = "Insua" } })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="" class="col-sm-12">Amount</label>
                                                    <div class="col-sm-12">

                                                        @Html.EditorFor(model => model.Insuance_Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount" } })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" class="col-sm-4">Amount</label>
                                        <div class="col-sm-8">

                                            @Html.EditorFor(model => model.Charges_Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4">Service Charge</label>
                                        <div class="col-sm-8">

                                            @Html.EditorFor(model => model.Charges_Service, new { htmlAttributes = new { @class = "form-control", @placeholder = "Charge" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4">Risk Surcharge</label>
                                        <div class="col-sm-8">

                                            @Html.EditorFor(model => model.Risk_Surcharge, new { htmlAttributes = new { @class = "form-control", @placeholder = "Risk" } })

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-4">Service Tax</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.Service_Tax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Service tax" } })

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-4">Additional Charge</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.Addition_charge, new { htmlAttributes = new { @class = "form-control", @placeholder = "Additional charge" } })

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-4">Total</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.Charges_Total, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total" } })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box -->
                    <!-- Horizontal Form -->
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Services</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="form-horizontal">
                            <div class="box-body">
                                <!-- radio -->
                                <div id="Services" class="col-md-4">
                                    <div class="form-group doxamount">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sericerad" class="sericerad" id="Doxradio" value="0">
                                                Dox Lite
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group nondair">
                                        <div id="" class="radio ">
                                            <label>
                                                <input type="radio" name="sericerad" class="sericerad" id="Airradio" value="0">
                                                Non Dox Air
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group nondSurf">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sericerad" class="sericerad" id="surfradio" value="0">
                                                Non Dox Surface
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group Plus">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sericerad" class="sericerad" id="plusradio" value="0">
                                                DTDC Plus
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group Blue">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sericerad" id="blueradio" value="0">
                                                DTDC Blue
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group green">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sericerad" id="greenradio" value="0">
                                                DTDC Green
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group ptp11">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sericerad" id="ptp11radio" value="0">
                                                PTP 10.30 AM
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group PTP12">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sericerad" id=" PTP12radio" value="0">
                                                PTP 12.00 PM
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group ptp2">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sericerad" id="ptp2radio" value="0">
                                                PTP 2.00 PM
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group  Sunday">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sericerad" id="Sundayradio" value="0">
                                                Sunday PTP
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group GEC">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="sericerad" id="GECradio" value="0">
                                                GEC
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-group doxamount">
                                        <input type="text" class="form-control" id="DoxInput" placeholder="" value="0">
                                    </div>
                                    <div class="form-group nondair">
                                        <input type="text" class="form-control" id="Airinput" placeholder="" value="0">
                                    </div>
                                    <div class="form-group nondSurf">
                                        <input type="text" class="form-control" id="surfinput" placeholder="" value="0">
                                    </div>
                                    <div class="form-group Plus">
                                        <input type="text" class="form-control" id="plusinput" placeholder="" value="0">
                                    </div>
                                    <div class="form-group Blue">
                                        <input type="text" class="form-control" id="blueinput" placeholder="" value="0">
                                    </div>
                                    <div class="form-group green">
                                        <input type="text" class="form-control" id="greeninput" placeholder="" value="0">
                                    </div>
                                    <div class="form-group ptp11">
                                        <input type="text" class="form-control" id="ptp11input" placeholder="" value="0">
                                    </div>
                                    <div class="form-group  PTP12">
                                        <input type="text" class="form-control" id=" PTP12input" placeholder="" value="0">
                                    </div>
                                    <div class="form-group ptp2">
                                        <input type="text" class="form-control" id="ptp2input" placeholder="" value="0">
                                    </div>
                                    <div class="form-group Sunday">
                                        <input type="text" class="form-control" id="Sundayinput" placeholder="" value="0">
                                    </div>
                                    <div class="form-group GEC">
                                        <input type="text" class="form-control" id="GECinput" placeholder="" value="0">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="radio col-md-6">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="cash" value="Cash" checked>
                                                Cash
                                            </label>
                                        </div>
                                        <div class="radio col-md-6">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="credit" value="credit">
                                                Credit
                                            </label>
                                        </div>
                                    </div>
                                    <div id="creditamount" class="form-group">
                                        <label for="" class="col-sm-4">Credit Amount</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="" placeholder="Amount">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="box-footer">
                                            <button type="button" class="btn btn-block btn-info">Add Remark</button>
                                        </div>
                                    </div>
                                    <!-- checkbox -->
                                    <div class="form-group">
                                        <label for="securepack" class="col-md-12">
                                            @*<input type="checkbox" class="minimal-red" id="securepack">*@

                                            @Html.CheckBoxFor(model => model.secure_Pack, new { htmlAttributes = new { @class = "form-control" } })Secure Pack

                                        </label>
                                        <label class="col-md-12">
                                            @*<input type="checkbox" class="minimal-red" id="passport">*@
                                            @Html.CheckBoxFor(model => model.Passport, new { htmlAttributes = new { @class = "form-control" } })Passport
                                        </label>
                                        <label class="col-md-12">
                                            @*<input type="checkbox" class="minimal-red" id="sundaycollect">*@
                                            @Html.CheckBoxFor(model => model.OfficeSunday, new { htmlAttributes = new { @class = "form-control" } })Office / Sunday Collect
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" id="sumitbutton" class="btn btn-default">Save</button>
                                <button type="submit" class="btn btn-info pull-right">Print</button>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-default">Save With SMS</button>
                                <button type="submit" class="btn btn-info pull-right">Clear</button>
                            </div>
                            <!-- /.box-footer -->
                        </div>

                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}


<style>
    #consignment input[type="text"].form-control, #consignment input[type="email"].form-control {
        height: 25px;
    }

    #consignment .form-group {
        margin-bottom: 5px;
    }

    #consignment label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #consignment #insurancedetails, #consignment #creditamount {
        display: none;
    }

    #consignment .icheckbox_minimal-red, .iradio_minimal-red {
        margin: 0 10px;
    }

    @@media (min-width:769px) {
        .padding-right-0 {
            padding-right: 0px;
        }
    }
</style>

<script>
    $(document).ready(function () {

        $("#Consignment_No").keyup(function () {
            if (this.value.length < 9) {
                return false;
            }
            else {

                
            }
        });

    });
</script>










@*@if (ViewBag.Insuarance == "N")
    {
        <script>
            $(document).ready(function () {
                $('#insurance').show();
            });
        </script>
    }

    @if (ViewBag.yesinsurance == "yes")
    {
        <script>
            $(document).ready(function () {
                $('#insurancedetails').show();
            });
        </script>
    }*@




