@model DtDc_Billing.Entity_FR.TransactionView

<div>

    <hr />
    <div class="row">
    <div class="col-sm-6">
        @if (Model != null)
        {
        <dl class="dl-horizontal">
            <dt>
              
                 @Html.DisplayNameFor(model => model.Customer_Id)
               
</dt>

            <dd>
                @if (Model.Customer_Id != null)
                {
                    <span class="text-danger"><strong>   @Html.DisplayFor(model => model.Customer_Id) </strong></span>
                }
                else
                {
                    <span>-</span>
                }

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.booking_date)
            </dt>

            <dd>
                @Model.booking_date.Value.ToString("dd/MM/yyyy")
            </dd>

            <dt>
                Destination
            </dt>

            <dd>
                <span class="text-info"><strong>    @Html.DisplayFor(model => model.Name)</strong></span>
</dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pincode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pincode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quanntity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quanntity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type_t)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type_t)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Actual_weight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Actual_weight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.chargable_weight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.chargable_weight)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mode)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
             <span class="text-green"><strong>   @Html.DisplayFor(model => model.Amount)</strong> </span>
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.Insurance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Insurance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BillAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BillAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Percentage)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Percentage)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Risksurcharge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Risksurcharge)
            </dd>


            <dt>
                Invoice No
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status_t)
            </dd>


            <dt>
                Other Charges
            </dt>

            <dd>
                @Html.DisplayFor(model => model.loadingcharge)
            </dd>

          
            <dt>
                @Html.DisplayNameFor(model => model.Pf_Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pf_Code)
            </dd>
        </dl>
        }
        else
        {
            <span>No data available!</span>
        }
        </div>
     
    </div>
    </div>
