@model DtDc_Billing.Models.RegistrationModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}


<style>
    .Reqired {
        color: red;
    }
</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="icon" href="Favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            @*<a class="navbar-brand" href="#">Laravel</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    </ul>
                </div>*@

            @if (TempData["msg"] != null)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong> @TempData["msg"]
                </div>
            }
            else if (TempData["error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>Error!</strong> @TempData["error"]
                </div>
            }
        </div>
    </nav>
    <main class="my-form">
        <div class="cotainer">
            @*@using (Html.BeginForm())*@
            @using (Ajax.BeginForm("Register", "Admin", new AjaxOptions { HttpMethod = "Post" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationMessage("customError", new { @class = "text-danger" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Register</div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="full_name" class="col-md-4 col-form-label text-md-right">Pfcode<span class="Reqired">*</span></label>

                                    <div class="col-md-6">
                                        @*<input type="text" id="Pfcode" class="form-control" name="Pfcode">*@
                                        @Html.EditorFor(model => model.Pfcode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pfcode" } })
                                        @Html.ValidationMessageFor(model => model.Pfcode, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="franchiseName" class="col-md-4 col-form-label text-md-right">Franchise Name<span class="Reqired">*</span></label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.franchiseName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Franchise Name" } })
                                        @Html.ValidationMessageFor(model => model.franchiseName, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="franchiseName" class="col-md-4 col-form-label text-md-right">Address<span class="Reqired">*</span></label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", rows = "20" } })
                                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="emailId" class="col-md-4 col-form-label text-md-right">Email Id<span class="Reqired">*</span></label>
                                    <div class="col-md-6">

                                        @Html.EditorFor(model => model.emailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Id" } })
                                        @Html.ValidationMessageFor(model => model.emailId, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ownerName" class="col-md-4 col-form-label text-md-right">Owner Name<span class="Reqired">*</span></label>
                                    <div class="col-md-6">

                                        @Html.EditorFor(model => model.ownerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Owner Name" } })
                                        @Html.ValidationMessageFor(model => model.ownerName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="mobileno" class="col-md-4 col-form-label text-md-right">Mobile no<span class="Reqired">*</span></label>
                                    <div class="col-md-6 col-xs-8">
                                        @Html.EditorFor(model => model.mobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile No" } })
                                        @Html.ValidationMessageFor(model => model.mobileNo, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="userName" class="col-md-4 col-form-label text-md-right">Username<span class="Reqired">*</span></label>
                                    <div class="col-md-6">

                                        @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
                                        @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password<span class="Reqired">*</span></label>
                                    <div class="col-md-6">

                                        @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="confirmPassword" class="col-md-4 col-form-label text-md-right">Confirm Password<span class="Reqired">*</span></label>
                                    <div class="col-md-6">

                                        @Html.PasswordFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                                        @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="referralCode" class="col-md-4 col-form-label text-md-right">Referral Code (Optional)</label>
                                    <div class="col-md-6">

                                        @Html.EditorFor(model => model.referralby, new { htmlAttributes = new { @class = "form-control", @placeholder = "Referral Code" } })
                                        @Html.ValidationMessageFor(model => model.referralby, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-6 offset-md-4">

                                        <input type="submit" value="Register" class="btn btn-primary">

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
