
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DTDC | Billing</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Font Awesome -->
    <!-- Ionicons -->

    <link href="~/admin-lte/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/admin-lte/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ratemaster.css" rel="stylesheet" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/admin-lte/js")

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Scripts/jquery.validate.min.js")*@

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script src="~/admin-lte/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/admin-lte/plugins/datatables/dataTables.bootstrap.js"></script>
    <link href="~/admin-lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin-lte/js/adminlte.min.js"></script>
    <script src="~/admin-lte/js/icheck.min.js"></script>
    @*<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />*@

    <link href="~/admin-lte/css/customstyle.css" rel="stylesheet" />
    <link href="~/admin-lte/css/AdminLTE.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#bookdate').datepicker();
        });
    </script>
</head>

<body class="hold-transition sidebar-mini skin-purple-light">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini logo-text"><b>VE</b></span>
                <!-- logo for regular state and mobile devices -->
                <div class="logo-lg logo-text" style="
    text-align: center;
">
                    <img src="~/Content/img/IJS Logo new.png" style="width: 100%;height: 71px;margin-top: -2px;">


                </div>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- User Account Menu -->

                      

                        @*@if (@ViewBag.CurrentUserType == "")
                        {
                    <li class="logincss">
                        @{
                            int count = Convert.ToInt32(@Session["CountUserType"]);

                            if (count > 1)
                            {
                                <a href="@Url.Action("ChangeUserType", "Booking", new { strcurrentuser = Session["UserType"] })"> Change UserType </a>
                                }
                                else
                                {
                                }
                        }

                    </li>
                        }
                        else
                        {
                    <li class="logincss">
                        @{
                            int count = Convert.ToInt32(@Session["CountUserType"]);

                            if (count > 1)
                            {
                                <a href="@Url.Action("ChangeUserType","Booking",new { strcurrentuser =  ViewBag.CurrentUserType})"> Change UserType </a>
                            }
                            else
                            {
                            }
                        }
                    </li>
                        }*@


                    <li class="logincss">
                        <a> PF_Code : <span>@Session["pfCode"].ToString() </span> </a>

                      
                        @*@if (Session["UserType"] != null)
        {
             <a> PF_Code : <span>@Session["pfCode"].ToString() </span> </a>

        }
        else
        {
             <a> PF_Code : <span>@Session["PfID"].ToString() </span> </a>
        }*@

                    </li>
                        <li class="logincss">
                            <a <span="">For any query : <i class="fa fa-phone phnicon" aria-hidden="true"></i><span>8208990681 </span> </a>
                        </li>


                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/admin-lte/img/user2-160x160.jpg" height="20" width="20" class="img-circle" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->

                                @if (Session["UserName"] != null)
                                {
                                    <span> @Session["UserName"].ToString() </span>
                                }
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <!-- Menu Body -->
                                <!-- Menu Footer-->

                            </ul>
                        </li>
                        <li class="user-footer">

                            <a href="@Url.Action("LogOut","Admin")"><i class="fa fa-share fa-fw"></i> Sign Out</a>

                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        @*<li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>*@
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                @{

                    Html.RenderPartial("BillingUserModelPartial");
                }
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
               
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <!--------------------------
        | Your Page Content Here |
        -------------------------->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content -->
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            <strong>Copyright  &copy;<span id="currentYear"></span>  <a href="https://codetentaclestechnologies.com/" target="_blank">CodeTentacles</a>.</strong> All rights reserved.
        </footer>

        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->
    @*///setdat*@

    <script>

        function setCopyrightDate() {
            year = new Date().getYear();
            if (year < 1900)
                year += 1900;
            document.getElementById("currentYear").innerHTML = year;
        }

        setCopyrightDate();





    </script>


    <script type='text/javascript'>
        /** add active class and stay opened when selected */
        var url = window.location;

        // for sidebar menu entirely but not cover treeview
        $('ul.sidebar-menu a').filter(function () {
            return this.href == url;
        }).parent().addClass('active');

        // for treeview
        $('ul.treeview-menu a').filter(function () {
            return this.href == url;
        }).parentsUntil(".sidebar-menu > .treeview-menu").addClass('active');
        $('.messages-menu').click(function () {
            if ($(this).hasClass('open'))
                $(this).removeClass('open');
            else
                $(this).addClass('open');
        });
    </script>




    <style>
        .logo-text {
            font-size: 1.3em;
            font-family: 'Roboto Slab', serif;
        }
    </style>



</body>
</html>